.login-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.login-button{
  padding: 10px 20px;     
  font-size: 14px;     
  border-radius: 8px;  
  background-color: #d43100;   /* Change this */
  color: white;                /* Button text color */
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #a63b05;   /* Hover color */
}
